// Mixins

// @mixin name {
//   // your rules
// }

// Sizes
@mixin logo {
  width: 10rem;
  height: 3rem;
}

@mixin bars {
  width: 3rem;
  height: 1.6rem;
  margin: 1.5rem;
}

// Flex mixin
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
