// About setup
.about {
  height: 70vh;
  @include flex;
  flex-direction: column;
  margin: 1em;

  .a-para {
    margin: 0.5em;
  }

  .a-span {
    margin-bottom: 1em;
    color: $my-green;
  }

  :link {
    text-decoration: none;
  }

  .a-link {
    color: grey;
  }
}
