// Footer setup
.footer {
  @include flex;
  flex-direction: column;

  h5 {
    text-align: center;
  }
}

.icons {
  span {
    margin: 0.5em;
  }
  a {
    text-decoration: none;
    color: green;
  }
}
