// Home setup
.home {
  width: 95vw;
  height: 80vh;
  @include flex;
  flex-direction: column;
  border-top: green 0.5px solid;
  border-right: green 0.5px solid;
}

.h-header {
  margin: 0.5em;
  padding: 0.7rem;
  border-top: green 0.5px solid;
  border-left: green 0.5px solid;
}

.h-para {
  margin: 0.5em;
}

.profile-img {
  width: 50vw;
  height: 35vh;
  margin: 1em 0 1em 0.8em;
  padding: 1em;
  border-right: green 0.5px solid;
  border-bottom: green 0.5px solid;
  border-radius: 10%;
}
