// Logo setup
.logo {
  @include logo;
}

// Bars menu setup
.bars {
  @include bars;
}
.top-bar,
.center-bar,
.bottom-bar {
  width: 3rem;
  height: 0.3rem;
  // background-color: black;
  background-color: white;
  border-radius: 3rem;
}
.top-bar {
  width: $small-width;
}
.center-bar {
  margin: 0.3rem 0 0.3rem 0;
}
.bottom-bar {
  width: $small-width;
  float: right;
}
