// Projects setup
.projects {
  @include flex;
  flex-direction: column;
  h1 {
    margin-top: 1em;
    padding: 0.5em;
    border-top: green 0.5px solid;
    border-left: green 0.5px solid;
  }
  h3 {
    text-align: center;
    margin: 1em 0;
  }
}

.skill-logo {
  width: 40vw;
  height: 5vh;
  margin: 0.7em;
}

.logo-container {
  width: 95vw;
  margin: 1rem 0;
  padding: 1em;
  border: green 0.5px solid;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.project-img {
  width: 60vw;
  margin: 1em 0 1em 0.9em;
  padding: 0.5em;
  border: blueviolet 0.5px solid;

  border-radius: 10px;
}
.gotop {
  a {
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
  }
  margin: 1rem 0;
  padding: 0.3em;
}
.cards {
  @include flex;
  flex-direction: column;
  width: 95vw;
  margin: 0.5em;
  border: blueviolet 0.5px solid;
}
.card {
  width: 80vw;
  @include flex;
  flex-direction: column;
  text-align: center;
  border: green 0.5px solid;
  margin: 1em;
  padding: 0.5em;

  p,
  button {
    margin: 0.5em 0;
  }
  a {
    margin: 0.5em;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
