.contact {
  height: 80vh;
  @include flex;
  flex-direction: column;

  h1 {
    font-size: 2em;
  }

  .c-para {
    height: 10vw;
    font-size: 1.2em;
    strong {
      font-size: 1em;
    }
  }

  fieldset {
    width: 60vw;
    margin-top: 2rem;
  }
  form {
    :first-child,
    :nth-child(2) {
      height: 1.8em;
      margin: 0.5em 0;
      border-radius: 10px;
    }
    :nth-child(3) {
      height: 6em;
      border-radius: 10px;
    }
    &:focus {
      border: green 1px solid;
    }

    :last-child {
      width: 8rem;
      height: 2rem;
      font-size: 1.4em;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        color: black;
        background-color: blueviolet;
      }
    }
  }
}
